*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Rubik Mono One;
}

/* Main CSS */
.contenitore{
    height: 100vh;
    width: 100%;
    position: relative;
    border: 1px solid black;
}

.image{
    width: 45%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text{
    width: 40%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    text-align: center;
}

.link_contenitor{
    
}

div > a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
}
/* /Main CSS */

/* Colori testi e bg */
.yellow_txt{
    color: rgba(255, 255, 0, 1);  
}

.red_bg{
    background-color: red;
}

.green_bg{
    background-color: rgba(0, 128, 0, 1);
}

.red_txt{
    color: red;
}

.yellow_bg{
    background-color: yellow;
}
/* Colori testi e bg */